*.backup
*.bak
*.dll
*.exe
*.iml
*.log
*.test
*~
.*.swp
./*.tfstate
.DS_Store
.idea
.terraform/
.vagrant/
/pkg/
bin/
dist/
example.tf
modules-dev/
tmp/
terraform.tfplan
terraform.tfstate
website/.bundle
website/.vagrant
website/build
website/node_modules
website/vendor

# Keep windows files with windows line endings
!command/test-fixtures/**/*.tfstate
!command/test-fixtures/**/.terraform/

# Test exclusions
*.winfile eol=crlf
